body{
    margin: 0;
    padding: 0;
    background-color: black;
}
header{
    height: 100px;
    border-bottom:  5px double black;
}
header nav a{
    color: orangered;
    font-size:  2em;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    border: 1px
}